# Monad Testnet
MONAD_RPC_URL=
DEPLOYER_PRIVATE_KEY=
ESCROW_CONTRACT_ADDRESS=

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=

# Provider Service
PROVIDER_PORT=3001

# Envio
ENVIO_API_URL=

# Privy
PRIVY_APP_ID=
PRIVY_APP_SECRET=
